:root{
    --blanc: rgb(240, 240, 240);
    --black: black;
    --car: white;
    --foote: #ff7fcf;
    --deg: rgba(120,120,120,0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 95vh;
    background-image: url(assets/bkg.jpg);
    z-index: -10;
    background-size: cover;
}

header .head-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    padding: 20px 20px 0 0;
}

header .head-top .hamburg{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

header .head-top .hamburg .hamb{
    width: 45px;
    height: 5px;
    background: var(--black);
    margin-top: 5px;
}

header .head-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 300px 0 0 20px;
}

main{
    margin: 40px 70px;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

#one img{
    max-width: 600px;
    margin-bottom: 10px;
    object-fit: cover;
    background-size: cover;

}

.sec1-para{
    max-width: 600px;
}

#two img{
    max-width: 390px;
    margin-bottom: 10px;
    object-fit: cover;
    background-size: cover;
}

.sec2-para{
    max-width: 390px;

}
#three img{
    max-width: 290px;
    margin-bottom: 10px;
    object-fit: cover;
    background-size: cover;


}

.sec3-para{
    max-width: 290px;

}

section div{
    margin-left: 20px;

}


section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-justify: auto;
}

div#four{
    width: 100%;
    height: 600px;
    background-image: url(assets/bkg-form.jpg);
    z-index: -10;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: 30px;
    padding: 40px;
    border-radius: 25px;
    background: var(--blanc);
    width: 700px;
}

.content-sous{
    display: flex;
    margin-top: 20px;
}

.cont-right{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.cont-left{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
button{
    padding: 5px 30px;
    border-radius: 15px;
}
.btn-one{
    background: linear-gradient( #b9bbde,#669);
    z-index: 10;
}
.btn-two{
    background: linear-gradient( 45deg, #b8babb,#6f6e73);
}
input{

    padding: 5px 100px 5px 5px;
}

footer{
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--foote);
}
.foot{
    background: var(--deg);
    padding: 5px  60px 5px 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    overflow-x: hidden;
}

.tr-cont{
    display: flex;
    align-items: center;
}
.carr{
    height: 10px;
    width: 10px;
    background: var(--car);
}

@media screen and (max-width: 740px) {

    main{
        margin: 20px 20px;
        max-width: 100vw;
    }
    #one .one-cas1 img{
        max-width: 670px;
        margin-bottom: 10px;
    }
    
    .one-para1{
        max-width: 500px;
    }

    .one-cas2 img{
        max-width: 390px;
    }

    .one-para2{
        max-width: 390px;

    }
    
    #two img{
        max-width: 390px;
        margin-bottom: 10px;
    }
    
    .sec2-para{
        max-width: 390px;
    
    }
    #three img{
        max-width: 290px;
        margin-bottom: 10px;
    }
    
    .sec3-para{
        max-width: 290px;
    
    }
    
    section div{
        margin-left: 20px;
    
    }
}

@media screen and (max-width: 480px) {

    main{
        margin: 20px 20px;
        max-width: 100vw;
    }
    #one .one-cas1 img{
        max-width: 300px;
        margin-bottom: 10px;
    }
    
    .one-para1{
        max-width: 300px;
    }
    .one-para2{
        max-width: 600px;
    }
    #one img {
        max-width: 400px;
    }
}